@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #f0f0f3;
  font-family: "Roboto Slab", serif;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #1e1f24;
}
