@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #f0f0f3;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #1e1f24;
}

.primary-text {
  color: #f0f0f3;
}

.secondary-text {
  color: #88949c;
}
